extends ../shared/template
block content
  .row
    .window.small-12.columns
      .row.header
        .heading-board
          h1 Drew Moore
          h5 Web Developer
      .row.body
        .columns.side-panel
          ul
            li something
            li other thing
        .columns.scroll-panel
          .scroll-menu
            ul
              each site in sites
                li
                  img(src=site.image)
                  h5= site.title
                  p= site.description
                  strong= site.framework
                  strong= site.host
                  a(href=site.url) Web
                  a(href=site.github) Github

