extends ../shared/template
block content
  .scroll-panel
    .scroll-menu
      ul
        each site in sites
          li.site-container
            .site-left-panel
              img.site-image(src=site.image)
              .site-links
                a.web(href=site.url, target='_blank') Web
                a.github(href=site.github, target='_blank') Github
            .site-info
              h5= site.title
              p= site.description
              div.site-info-footer
                div.site-info-data-container
                  strong.site-info-label Framework: &nbsp;
                  strong.site-info-value= site.framework
                .clear
                div.site-info-data-container
                  strong.site-info-label Host: &nbsp;
                  strong.site-info-value= site.host


