extends ../shared/template
block content

  .row
    each site in sites
      div
        a(href="/sites/" + site._id.toString())
          img(src=site.image)
          h5= site.title
          strong= site.description
        a(href=site.url) Web
        a(href=site.github) Github

