extends ../shared/template-admin
block content

  .row
    each site in sites
      div
        a(href="/sites/" + site._id.toString())
          img(src=site.image)
          h5= site.title
        p= site.description
        strong= site.framework
        strong= site.host
        a(href=site.url) Web
        a(href=site.github) Github

